.centered-wrapper {
  position: relative;
  background-image: url("./forest.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
