.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap {
  margin-top: 30px;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-4 {
  fill: #b9daf1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-0 {
  fill: #254e77;
}
